/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 26-feb-2019, 19:49:14
    Author     : Mario Delacruzmelo
*/
body{
	font-family: 'Open Sans', sans-serif;
}
#goButtonRegister{
	display: none;
}
#container{
	height: 100vh;
	text-align: left
}
.rounded3rem{
	border-radius: 3rem;
}
#loginContainer{
	position: absolute;
	bottom:20vh;
	box-shadow: 0px 0px 50px -5px gray;
}
.widthHeight1rem{
	height: .8rem;
	width: .8rem;
}
.text-1rem{
	font-size: 1rem;
}
.text-1a5rem{
	font-size: .8rem;
}
.myInput1{
	border-style: none;
	border-radius: 1rem;
}
.myInput1:focus{
	outline: none;
}
.circlebtn{
	border-radius: 50%;
	padding: .5rem .7rem;
	border-style: none;
	background: white;
	z-index: 2;
}
.circlebtn2{
	padding: .5rem .8rem;
}
.form-control:focus{
	box-shadow: none;
	border: none;
}
#circleRegister{
	background: transparent;
	width: 100%;
	height: 100%;
}
#circleRegister circle{
	cx: 37;
	cy: 200;
	r: 10;
	fill: red;
	transition: .5s ease;
}
#circleLogin{
	background: transparent;
	width: 100%;
	height: 100%;
}
#circleLogin circle{
	cx: 37;
	cy: 200;
	r: 10;
	fill: green;
	transition: .5s ease;
}
.actionTitle{
	font-size: 1rem;
	font-weight: bold;
	color: white;
}
@media(max-width:40rem){

	#container{
		text-align: center;
	}

}